<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>热点话题</title>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
{% load static %}
body{
    text-align:left;
	background:url('http://pic1.bbzhi.com/fengjingbizhi/xinxilanjiaowaifengjingbizhi/nature_new_zealand_landscapes_2_1920x1200_492336_10.jpg') no-repeat fixed center;
	background-size:100% 100%;
	}
</style>
<script>
function myFunction1()
{
    alert("您已成功退出！");
    document.form1.method="GET";
    document.form1.action="/";
}

function openShutManager(oSourceObj,oTargetObj,shutAble,oOpenTip,oShutTip){  
var sourceObj = typeof oSourceObj == "string" ? document.getElementById(oSourceObj) : oSourceObj;  
var targetObj = typeof oTargetObj == "string" ? document.getElementById(oTargetObj) : oTargetObj;  
var openTip = oOpenTip || "";  
var shutTip = oShutTip || "";  
if(targetObj.style.display!="none"){  
   if(shutAble) return;  
   targetObj.style.display="none";  
   if(openTip  &&  shutTip){  
    sourceObj.innerHTML = shutTip;   
   }  
} else {  
   targetObj.style.display="block";  
   if(openTip  &&  shutTip){  
    sourceObj.innerHTML = openTip;   
   }  
}  
}  
</script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				热点话题：
			</h3>
			<button class="btn btn-large btn-primary" type="button">返回首页</button>
			<ol>
				<li>
					<div class="list-group">

						<a align="left" href="#" class="list-group-item active">科比</a>
						<div class="list-group-item">
							<h4 class="list-group-item-heading">
								<a align="center" href="#">NBA历史第一人是谁？</a>
							</h4>
						</div>
						<div class="list-group-item">
						<div class="panel-group" id="panel-11">
						
							<div class="panel panel-default">
								<div class="panel-heading">
									 <a class="panel-title" data-toggle="collapse" data-parent="#panel-11" href="#panel-element-12">展开/折叠</a>
								</div>
								<div id="panel-element-12" class="panel-collapse collapse in">
									<div class="panel-body">
										显然，科比布莱恩特是NBA当之无愧的历史第一人，81分的神迹，5冠的传奇...这些足以说明一切！
									</div>
								</div>
							</div>
						</div>
						</div>
						<div class="list-group-item">
						<div class="btn-group">
						
							 <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 点击量</button> <button id="modal-11" href="#modal-container-11" role="button" class="btn" data-toggle="modal"><em class="glyphicon glyphicon-align-center"></em> 查看回复</button> <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-right"></em> 进行回复</button>
								<div class="modal fade" id="modal-container-11" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
													<h4 class="modal-title" id="myModalLabel">
														对科比的评论
													</h4>
												</div>
												<div class="modal-body">
													<ul>
														<li>
															<div class="col-md-12 column">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<h3 class="panel-title">
																			<a align="left" href="#" class="list-group-item active">詹姆斯</a>
																		</h3>
																	</div>
																	<div class="panel-body">
																		扯犊子吧，我还觉得老子是历史第一呢！
																	</div>
																	<div class="panel-footer">
																		<button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 赞</button><button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 回复</button>
																	</div>
																</div>
															</div>
														</li>
														<li>
															<div class="col-md-12 column">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<h3 class="panel-title">
																			<a align="left" href="#" class="list-group-item active">杜兰特</a>
																		</h3>
																	</div>
																	<div class="panel-body">
																		我不是针对谁，我就想说在座的各位都是渣渣..
																	</div>
																	<div class="panel-footer">
																		<button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 赞</button><button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 回复</button>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>
												<div class="modal-footer">
													 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												</div>
											</div>
											
										</div>
										
								</div>
						</div>
						</div>
					</div>
				</li>
				<li>
					<div class="list-group">
						<a align="left" href="#" class="list-group-item active">科比</a>
						<div class="list-group-item">
							<h4 class="list-group-item-heading">
								<a align="center" href="#">NBA历史第一人是谁？</a>
							</h4>
						</div>
						<div class="list-group-item">
						<div class="panel-group" id="panel-21">
						
							<div class="panel panel-default">
								<div class="panel-heading">
									 <a class="panel-title" data-toggle="collapse" data-parent="#panel-21" href="#panel-element-22">展开/折叠</a>
								</div>
								<div id="panel-element-22" class="panel-collapse collapse in">
									<div class="panel-body">
										显然，科比布莱恩特是NBA当之无愧的历史第一人，81分的神迹，5冠的传奇...这些足以说明一切！
									</div>
								</div>
							</div>
						</div>
						</div>
						<div class="list-group-item">
						<div class="btn-group">
						
							 <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 点击量</button> <button id="modal-21" href="#modal-container-21" role="button" class="btn" data-toggle="modal"><em class="glyphicon glyphicon-align-center"></em> 查看回复</button>  <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-right"></em> 进行回复</button>
							 <div class="modal fade" id="modal-container-21" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
													<h4 class="modal-title" id="myModalLabel">
														对科比的评论
													</h4>
												</div>
												<div class="modal-body">
													<ul>
														<li>
															<div class="col-md-12 column">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<h3 class="panel-title">
																			<a align="left" href="#" class="list-group-item active">詹姆斯</a>
																		</h3>
																	</div>
																	<div class="panel-body">
																		扯犊子吧，我还觉得老子是历史第一呢！
																	</div>
																	<div class="panel-footer">
																		<button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 赞</button><button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 回复</button>
																	</div>
																</div>
															</div>
														</li>
														<li>
															<div class="col-md-12 column">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<h3 class="panel-title">
																			<a align="left" href="#" class="list-group-item active">杜兰特</a>
																		</h3>
																	</div>
																	<div class="panel-body">
																		我不是针对谁，我就想说在座的各位都是渣渣..
																	</div>
																	<div class="panel-footer">
																		<button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 赞</button><button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 回复</button>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>
												<div class="modal-footer">
													 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												</div>
											</div>
											
										</div>
										
								</div>
						</div>
						</div>
					</div>
				</li>
				<li>
					<div class="list-group">
						<a align="left" href="#" class="list-group-item active">科比</a>
						<div class="list-group-item">
							<h4 class="list-group-item-heading">
								<a align="center" href="#">NBA历史第一人是谁？</a>
							</h4>
						</div>
						<div class="list-group-item">
						<div class="panel-group" id="panel-31">
						
							<div class="panel panel-default">
								<div class="panel-heading">
									 <a class="panel-title" data-toggle="collapse" data-parent="#panel-31" href="#panel-element-32">展开/折叠</a>
								</div>
								<div id="panel-element-32" class="panel-collapse collapse in">
									<div class="panel-body">
										显然，科比布莱恩特是NBA当之无愧的历史第一人，81分的神迹，5冠的传奇...这些足以说明一切！
									</div>
								</div>
							</div>
						</div>
						</div>
						<div class="list-group-item">
						<div class="btn-group">
						
							 <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 点击量</button> <button id="modal-31" href="#modal-container-31" role="button" class="btn" data-toggle="modal"><em class="glyphicon glyphicon-align-center"></em> 查看回复</button>  <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-right"></em> 进行回复</button>
							<div class="modal fade" id="modal-container-31" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
													<h4 class="modal-title" id="myModalLabel">
														对科比的评论
													</h4>
												</div>
												<div class="modal-body">
													<ul>
														<li>
															<div class="col-md-12 column">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<h3 class="panel-title">
																			<a align="left" href="#" class="list-group-item active">詹姆斯</a>
																		</h3>
																	</div>
																	<div class="panel-body">
																		扯犊子吧，我还觉得老子是历史第一呢！
																	</div>
																	<div class="panel-footer">
																		<button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 赞</button><button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 回复</button>
																	</div>
																</div>
															</div>
														</li>
														<li>
															<div class="col-md-12 column">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<h3 class="panel-title">
																			<a align="left" href="#" class="list-group-item active">杜兰特</a>
																		</h3>
																	</div>
																	<div class="panel-body">
																		我不是针对谁，我就想说在座的各位都是渣渣..
																	</div>
																	<div class="panel-footer">
																		<button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 赞</button><button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 回复</button>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>
												<div class="modal-footer">
													 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												</div>
											</div>
											
										</div>
										
								</div>
						</div>
						</div>
					</div>
				</li>
			</ol>
		</div>
	</div>
</div>
</body>
</html>